{% extends "base-admin.html" %}
{% block title %}Crear corporación{% endblock title %}
{% block content %}
    <!--<h1 class="page-header text-overflow">Corporación</h1>-->
<div class="panel">
        <div class="panel-colorful panel-primary">
            <h3 class="panel-title">Registro corporación</h3>
        </div>
        <div class="panel-body">
            <div id="demo-custom-toolbar" class="table-toolbar-right">
            <button id="demo-btn-addrow" class="btn btn-mint btn-labeled fa fa-plus"><a id="users-create" href="{% url 'listar_corporacion' %}" class="btn btn-mint">Listar corporaciones</a></button>
            </div>
            <!--<ul class="nav nav-tabs">
                <li class="active"><a href="#demo-bsc-tab-1" data-toggle="tab"><i class="fa"></i> Crear corporación</a></li>
            </ul>-->
            <form id="demo-bv-bsc-tabs" class="form-horizontal" action="" method="post">
                    <div class="tab-pane pad-btm fade in active" id="demo-bsc-tab-1">
                        <hr>
                        {% csrf_token %}
                    <div class="panel-body">
                    <fieldset>
                        <div class="form-group">
                        <label class="col-lg-3 control-label">Número de la Corporación</label>
                            <div class="col-lg-7 btn-link add-tooltip" data-toggle="tooltip" data-original-title="Número que identifica Consejos (Superior o Académico), Facultades o Programas
                            Académicos asignados por la Universidad. Ejemplo: 3743, correspondiente al Programa de Ingeniería de Sistemas.">
                            {{ form.id_corporation }}
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="form-group">
                        <label class="col-lg-3 control-label" >Nombre Corporación</label>
                            <div class="col-lg-7 btn-link add-tooltip" data-original-title="Nombre de los Consejos (Superior o Académico), Facultades o Programas Académicos de la Universidad. Ejemplo: Consejo Superior.">
                                {{ form.name_corporation}}
                            </div>
                        </div>
                    </fieldset>
                        <fieldset>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Número de la Facultad</label>
                                <div class="col-lg-7 btn-link add-tooltip" data-original-title="En esta lista se escoge la 1ra opción (---) si desea crear Consejos o Facultades y se escoge la Facultad relacionada
                                con el programa académico que desea crear.">
                                       {{ form.facultad}}
                                </div>
                        </div>

                </fieldset>
                <!--===================================================-->
                </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-7 col-sm-offset-3">
                            <button class="btn btn-primary btn-labeled fa fa-send fa-lg" type="submit">Crear</button>
                            </div>
                        </div>
                    </div>
                    </div>
            </form>
        </div>
</div>
    <script>
    window.onload = function() {
    llamarMensajes( '{{ llamarMensaje }}' , '{{ mensaje }}');
    };
    </script>

{% endblock %}
