{% extends "base-admin.html" %}
{% block title %}Crear Jornada Electoral{% endblock title %}
{% block content %}
<div class="panel" xmlns="http://www.w3.org/1999/html">
        <div class="panel panel-colorful panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Editar jornada de votación</h3>
            </div>
        </div>
        <div id="demo-custom-toolbar" class="table-toolbar-right">
            <button id="demo-btn-addrow" class="btn btn-mint btn-labeled fa fa-plus" ><a href="{% url 'listar_jornadas' %}" class="btn btn-mint">Listar jornadas</a></button>
        </div>
        <!--Page content-->
        <!--===================================================-->
        <div id="page-content">
            <form id="" name="FormularioEditarJornada" class="form-horizontal" action="" method="post">
                {% csrf_token %}
            <div class="panel">
                <p class="text-thin mar-btm">Nombre Jornada</p>
                    <div >
                        {{form.nombre_jornada }}
                    </div>
                <br>
                <p class="text-thin mar-btm">Fecha Jornada</p>

                <!--Bootstrap Datepicker : Component-->
                <!--===================================================-->
                <div id="demo-dp-component">
                    <div class="input-group date">
                        {{ form.fecha_jornada }}
                        <span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>
                    </div>
                </div>
                <br>

                <p class="text-thin mar-btm">Hora inicio:</p>
                <!--Bootstrap Timepicker : Text Input-->
                <!--===================================================-->
                 <div class="input-group date">
                     {{form.hora_inicio}}
                    <span class="input-group-addon"><i class="fa fa-clock-o fa-lg"></i></span>
                </div>
                <br>
                <p class="text-thin mar-btm">Hora final:</p>

                <!--Bootstrap Timepicker : Component-->
                <!--===================================================-->
                <div class="input-group date">
                    {{form.hora_final}}
                    <span class="input-group-addon"><i class="fa fa-clock-o fa-lg"></i></span>
                </div>
                <!--===================================================-->
                <br>

                <h5 class="text-thin mar-btm">Corporaciones:</h5>
                <!-- Multiple Select Choosen -->
                <!--===================================================-->
                    {{form.corporaciones}}
                <!--===================================================-->
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-7 col-sm-offset-3">
                    <button class="btn btn-primary btn-labeled fa fa-send fa-lg" type="submit" name="btncreate">Editar</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <!--===================================================-->
        <!--End page content-->
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->
</div>
    <script>
    window.onload = function() {
    llamarMensajes( '{{ llamarMensaje }}' , '{{ mensaje }}');
    };
    </script>

{% endblock %}