{% extends "base-admin.html" %}
{% block title %}Crear Jornada Electoral{% endblock title %}
{% block content %}
<div class="panel">
        <div class="panel panel-colorful panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Registro jornada</h3>
            </div>
        </div>
            <!--Page content-->
            <!--===================================================-->
            <div id="page-content">
                <div class="panel">
                    <p class="text-thin mar-btm">Nombre Jornada</p>
                    <div>
                        <div  class="input-group date">
                            {{form.nombre_jornada  }}
                        </div>
                    </div>
                    <br>
                    <br>
                    <p class="text-thin mar-btm">Fecha Jornada</p>

                    <!--Bootstrap Datepicker : Component-->
                    <!--===================================================-->
                    <div id="demo-dp-component">
                        <div class="input-group date">
                            <input type="text" class="form-control">
                            <span class="input-group-addon"><i class="fa fa-calendar fa-lg"></i></span>
                        </div>
                    </div>
                    <br>
                    <br>
                        <!--===================================================-->
                </div>

                <div class="panel">
                    <p class="text-thin mar-btm">Hora inicio:</p>
                    <!--Bootstrap Timepicker : Text Input-->
                    <!--===================================================-->
                     <div class="input-group date">
                        <input id="demo-tp-com" type="text" class="form-control">
                        <span class="input-group-addon"><i class="fa fa-clock-o fa-lg"></i></span>
                    </div>

                    <br>
                    <br>
                    <p class="text-thin mar-btm">Hora final:</p>

                    <!--Bootstrap Timepicker : Component-->
                    <!--===================================================-->
                    <div class="input-group date">
                        <input id="demo-tp-com-1" type="text" class="form-control">
                        <span class="input-group-addon"><i class="fa fa-clock-o fa-lg"></i></span>
                    </div>
                    <!--===================================================-->
                    <br>
                    <br>
                </div>

            </div>
            <!--===================================================-->
            <!--End page content-->
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->
</div>
    <script>
    window.onload = function() {
    llamarMensajes( '{{ llamarMensaje }}' , '{{ mensaje }}');
    };
    </script>

{% endblock %}