{% extends "base-votante.html" %}
{% block title %} Votante -{% endblock title  %}
{% block content %}
    <!--===Lista de corporaciones habilitadas para el votante==-->

        <script>
            counter = 0
        </script>
        {% for corporacion_activa in corporaciones_activas %}
        <script>
            if (counter % 4 == 0){document.write("<div class='row'>")}
            counter++
        </script>
            <!--Tile with - (Por el Consejo Superior)-->
						<!--===================================================-->
						<div class="col-md-6 col-lg-3">
							<a href="{% url 'mostrar_tarjeton' %}">
							<div class="panel panel-success panel-colorful">
								<div class="pad-all media">
									<div class="media-left">
										<span class="icon-wrap icon-wrap-xs">
											<i class="fa fa-users fa-2x"></i>
										</span>
									</div>
									<div class="media-body">
										<p class="h3 text-thin media-heading">{{ corporacion_activa.corporacion }}</p>
										<small class="text-uppercase"> 3 planchas activas</small>
									</div>
								</div>

								<div class="pad-all text-right">
									<small><span class="text-semibold"></span></small>
								</div>
							</div>
							</a>
						</div>
						<!--===================================================-->
						<!--End Tile with - (Por el Consejo Superior)-->

        <script>
            if (counter % 4 == 0){document.write("</div>")}
        </script>
        {% endfor %}

 {% endblock content %}