{% extends "base-votante.html" %}
{% block title %} Votante -{% endblock title  %}
{% block content %}
    <div class="row">
    <div class="col-lg-8">
    <!--planchas-->
    <!--===================================================-->
    <div class="panel panel-colorful panel-primary">
        <h3 class="panel-title">Consejo Superior</h3>
    </div>
    <hr>
    <div class="panel text-center">
    <br>
        <div class="col-lg-1">
            <label class="label-important ">Plancha N° 1</label>
        </div>
        <div class="col-lg-4">
            <img alt="Avatar" class="img-lg img-circle img-border mar-btm" src="img/av5.png">
            <h4 class="mar-no">Brenda Lopez</h4>
            <p>Principal</p>
        </div>
        <div class="col-lg-4">
            <img alt="Avatar" class="img-lg img-circle img-border mar-btm" src="img/av5.png">
            <h4 class="mar-no">Carlos Ruiz</h4>
            <p>Suplente</p>
        </div>
        <div class="pad-all">
            <p class="text-muted"></p>
            <a href="#" class="btn-link">Ver propuesta</a>
            <div class="pad-ver">
                <button class="btn btn-success">Votar</button>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
        <br>
    </div>
    <!--===================================================-->
    <div class="panel text-center">
         <hr>
        <br>
        <div class="col-lg-1">
            <label class="label-important ">Plancha N° 2</label>
        </div>
        <div class="col-lg-4">
            <img alt="Avatar" class="img-lg img-circle img-border mar-btm" src="img/av5.png">
            <h4 class="mar-no">Brenda Lopez</h4>
            <p>Principal</p>
        </div>

        <div class="col-lg-4">
            <img alt="Avatar" class="img-lg img-circle img-border mar-btm" src="img/av5.png">
            <h4 class="mar-no">Carlos Ruiz</h4>
            <p>Suplente</p>
        </div>
        <div class="pad-all">
            <p class="text-muted"></p>
            <a href="#" class="btn-link">Ver propuesta</a>
            <div class="pad-ver">
                <button class="btn btn-success">Votar</button>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
    <!--===================================================-->

    </div>
</div>
 {% endblock content %}