{% extends "base-votante.html" %}
{% block title %} Votante -{% endblock title  %}
{% block content %}
    <!--===Lista de corporaciones habilitadas para el votante==-->

        <script>
            counter = 0
        </script>
        {% for corporacion_activa in corporaciones_activas %}
        <script>
            if (counter % 4 == 0){document.write("<div class='row'>")}
            counter++
        </script>
            <!--Tile with - (Por el Consejo Superior)-->
            <!--===================================================-->
                <button class="btn btn-mint btn-rounded col-md-7 col-lg-3">
                    <a href="{% url 'mostrar_tarjeton' %}">
                        <div class="pad-all media">
                            <div class="media-left">
                                <span class="icon-wrap icon-wrap-xs">
                                    <i class="fa fa-users fa-3x"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <p class="h4 text-thin media-heading">{{corporacion_activa.corporacion.name_corporation}}</p>
                                <small class="text-uppercase">3 planchas</small>
                            </div>
                        </div>
                    </a>
                </button>
            <!--===================================================-->
            <!--End Tile with - (Por el Consejo Superior)-->
        <script>
            if (counter % 4 == 0){document.write("</div>")}
        </script>
        {% endfor %}

 {% endblock content %}