{% extends "base-votante.html" %}
{% block title %}Votante -{% endblock title  %}
{% block content %}
    <!--===Lista de corporaciones habilitadas para el votante==-->
    <form method="post" name="formvotaciones">
        {% csrf_token %}
        {% for jornada_corporacion_activa in jornada_corporaciones_activas %}
        <!--===================================================-->
        {% if  jornada_corporacion_activa.corporacion.id_corporation  in corporaciones_ya_votadas%}
        <div class="col-md-6 col-lg-4">
        <button disabled type="submit" name="btnCorporacion" class="btn btn-primary btn-block" value="{{ jornada_corporacion_activa.id }}">
            <a href="{% url 'mostrar_tarjeton' %}">
                <div class="pad-all media">
                    <div class="media-left">
                        <span class="icon-wrap icon-wrap-xs">
                            <i class="fa fa-users fa-3x"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <p class="h4 media-heading text-bold">{{jornada_corporacion_activa.corporacion.name_corporation}}</p>
                        <p class="text-semibold ">{{ jornada_corporacion_activa.cantidad_planchas }} Planchas</p>
                    </div>
                </div>
            </a>
        </button>
        <br>
        </div>
        {% else %}
            <div class="col-md-6 col-lg-4">
            <button type="submit" name="btnCorporacion" class="btn btn-primary btn-block" value="{{ jornada_corporacion_activa.id }}">
            <a href="{% url 'mostrar_tarjeton' %}">
                <div class="pad-all media">
                    <div class="media-left">
                        <span class="icon-wrap icon-wrap-xs">
                            <i class="fa fa-users fa-3x"></i>
                        </span>
                    </div>
                    <div class="media-body">
                        <p class="h4 media-heading text-bold">{{jornada_corporacion_activa.corporacion.name_corporation}}</p>
                        <p class="text-semibold">{{ jornada_corporacion_activa.cantidad_planchas }} Planchas</p>
                    </div>
                </div>
            </a>
            </button>
            <br>
            </div>
        {% endif %}
        <!--===================================================-->
        {% endfor %}
        </form>
<script>
    window.onload = function() {
    llamarMensajes( '{{ llamarMensaje }}' , '{{ mensaje }}');
    };
</script>
 {% endblock content %}