{% extends "base-admin.html" %}
{% block title %}Editar usuario{% endblock title %}
{% block content %}
    <h1 class="page-header text-overflow">Edición usuario</h1>
<div class="panel">
        <div class="panel panel-colorful panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Datos de un usuario</h3>
            </div>
        </div>
        <div class="panel-body">
            <form id="demo-bvd-notempty" method="post" action="" class="form-horizontal">
                {% csrf_token %}
                <div class="panel-body">
                <fieldset>
                    <div class="form-group">
                    <label class="col-lg-3 control-label">Cedula Usuario</label>
                        <div class="col-lg-7">
                        {{ form.cedula_usuario }}
                        </div>
                    </div>
                </fieldset>

            <fieldset>
                <div class="form-group">
                <label class="col-lg-3 control-label">Nombres</label>
                    <div class="col-lg-7">
                        {{ form.nombre_usuario }}
                    </div>
                </div>
            </fieldset>

                    <fieldset>
            <div class="form-group">
                <label class="col-lg-3 control-label">Apellidos</label>
                    <div class="col-lg-7">
                           {{ form.apellido_usuario}}
                    </div>
            </div>

            <!-- Rol y opciones-->
            <div class="form-group">
                <label class="col-lg-3 control-label">Rol</label>
                    <div class="col-lg-7">
                        <div class="radio ">
                            {% for radio in form.rol %}
                                <label class="form-radio form-icon">
                                    {{ radio.tag }}
                                </label>
                                   {{ radio.choice_label}}
                            {% endfor %}
                        </div>
                    </div>
            </div>

            <div class="form-group">
            <div class="col-lg-7 col-lg-offset-3">
            <div class="checkbox">
                <label class="form-checkbox form-icon">
                  {{form.esta_activo }}
                </label>
                Activo
            </div>
            </div>
            </div>
            </fieldset>
            <!--===================================================-->

            <!--REGULAR EXPRESSION BASED VALIDATORS-->
            <!--===================================================-->
                <fieldset>
                    <div class="form-group">
                    <label class="col-lg-3 control-label">Correo electrónico</label>
                    <div class="col-lg-7">
                    {{ form.email }}
                    </div>
                    </div>
                </fieldset>
            <!--===================================================-->
            {{ mensaje }} {{ form.error_messages }}
            </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-7 col-sm-offset-3">
                        <button class="btn btn-primary btn-labeled fa fa-send fa-lg" type="submit">Crear</button>
                        </div>
                    </div>
                </div>
                </form>
        </div>
</div>
{% endblock %}
