{% extends "base-admin.html" %}
{% block title %}Editar usuario{% endblock title %}
{% block content %}
    <h1 class="page-header text-overflow">Edición usuario</h1>
<div class="panel">
        <div class="panel-colorful panel-primary">
            <h3 class="panel-title">Datos de un usuario</h3>
        </div>
        <div class="panel-body">
        <div id="demo-custom-toolbar" class="table-toolbar-right">
        <button id="demo-btn-addrow" class="btn btn-mint btn-labeled fa fa-plus" ><a href="{% url 'listar_usuario' %}" class="btn btn-mint">Listar usuarios</a></button>
        </div>
            <form id="demo-bvd-notempty" method="post" action="" class="form-horizontal">
                {% csrf_token %}
                <div class="panel-body">
                <fieldset>
                    <div class="form-group">
                    <label class="col-lg-3 control-label">Cédula Usuario</label>
                        <div class="col-lg-7">
                        {{ form.cedula_usuario }}
                        </div>
                    </div>
                </fieldset>

            <fieldset>
                <div class="form-group">
                <label class="col-lg-3 control-label">Nombres</label>
                    <div class="col-lg-7">
                        {{ form.nombre_usuario }}
                    </div>
                </div>
            </fieldset>

                    <fieldset>
            <div class="form-group">
                <label class="col-lg-3 control-label">Apellidos</label>
                    <div class="col-lg-7">
                           {{ form.apellido_usuario}}
                    </div>
            </div>

            <!-- Rol y opciones-->
            <div class="form-group" id="options-rol">
                <label class="col-lg-3 control-label">Rol</label>
                    <div class="col-lg-7">
                        <div class="radio">
                            {% for radio in form.rol %}
                                <label class="form-radio form-icon active">
                                    {{ radio.tag }}
                                </label>
                                   {{ radio.choice_label}}
                            {% endfor %}
                        </div>
                    </div>
            </div>
                {% if votante %}
                <div id='hide'>
                    <fieldset>
                        <div class="form-group">
                        <label class="col-lg-3 control-label">Código estudiante</label>
                            <div class="col-lg-7">
                                {{ form.codigo_estudiante }}
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                        <label class="col-lg-3 control-label">Plan estudiante</label>
                            <div class="col-lg-7">
                                {{ form.plan_estudiante}}
                            </div>
                        </div>
                    </fieldset>
                    </div>
                {%endif %}

            </fieldset>
            <!--===================================================-->

            <!--REGULAR EXPRESSION BASED VALIDATORS-->
            <!--===================================================-->
                <fieldset>
                    <div class="form-group">
                    <label class="col-lg-3 control-label">Correo electrónico</label>
                    <div class="col-lg-7">
                    {{ form.email }}
                    </div>
                    </div>
                </fieldset>
            <!--===================================================-->
            {{ mensaje }} {{ form.error_messages }}
            </div>
                <div class="tab-footer clearfix">
                    <div class="col-lg-7 col-lg-offset-3">
                        <button type="submit" class="btn btn-primary btn-labeled fa fa-check fa-lg">Actualizar</button>
                    </div>
                </div>
                </form>
        </div>
</div>
{% endblock %}
