{% extends "base-admin.html" %}
{% block title %}Consultar, editar y eliminar usuario{% endblock title %}
{% block content %}
    <h1 class="page-header text-overflow">Consulta, edición y eliminación de usuarios</h1>
<div class="panel">
    <div class="panel panel-colorful panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Listar usuarios</h3>
        </div>
    </div>

    <div id="demo-custom-toolbar" class="table-toolbar-left">
        <button id="demo-btn-addrow" class="btn btn-mint btn-labeled fa fa-plus" ><a href="{% url 'registro_usuario' %}" class="btn btn-mint">Crear usuario</a></button>
        <!--<button id="demo-bootbox-confirm" class="btn btn-info">Eliminar</button>-->
        <!--<button id="demo-dt-delete-btn" class="btn btn-danger btn-labeled fa fa-times">Eliminar</button>-->
    </div>

    <div class="panel-body">
  <form name="formDelete" method="post">
    {% csrf_token %}
        <table id="demo-dt-delete" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Nombres</th>
                    <th class="min-tablet">Correo Electrónico</th>
                    <th class="min-tablet">Rol</th>
                    <th class="min-desktop">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.first_name }} {{ usuario.last_name }}</td>
                        <td>{{ usuario.email }}</td>

                        <td>{{ usuario.user_permissions.get.codename }}</td>
                        <td>
                            <a class="btn btn-xs btn-default add-tooltip" data-toggle="tooltip" href="/usuarios/editar/{{ usuario.username }}" data-original-title="Edit" data-container="body"><i class="fa fa-pencil"></i></a>
                            <a id="{{ usuario.username }}" class="demo-bootbox-confirm"  data-toggle="tooltip" href="#" data-original-title="Delete" data-container="body"><i class="btn btn-xs btn-danger add-tooltip btn-info fa fa-times"></i></a>
                            <!--<button id="demo-bootbox-confirm" class="btn btn-info btn-xs btn-danger add-tooltip">Eliminar</button>-->
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
    </div>
</div>
    <script>
    window.onload = function() {
    llamarMensajes( '{{ llamarMensaje }}' , '{{ mensaje }}');
    };
</script>
{% endblock %}
