{% extends "base-admin.html" %}

{% block title %}Registro de candidatos{% endblock title %}
{% block content %}
    <h1 class="page-header text-overflow">Crear candidato</h1>
<div class="panel">
    <div class="panel panel-colorful panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Datos de un candidato</h3>
        </div>
    </div>
    <div class="panel-body">

        <div id="demo-bv-wz">
            <div class="wz-heading">
                    <!--Progress bar-->
                    <div class="progress progress-sm progress-light-base">
                        <div class="progress-bar progress-bar-primary"></div>
                    </div>
                    <!--Nav-->
                    <ul class="wz-icon-bw wz-nav-off">
                        <li class="col-xs-3">
                            <a data-toggle="tab" href="#demo-bv-tab1" title="Perfil">
                                <span class="icon-wrap icon-wrap-sm icon-circle bg-mint">
                                <i class="wz-icon fa fa-user fa-2x"></i>
                                <i class="wz-icon-done fa fa-check fa-2x"></i>
                            </span>
                            </a>
                        </li>
                        <li class="col-xs-3">
                            <a data-toggle="tab" href="#demo-bv-tab2" title="Corporación">
                                <span class="icon-wrap icon-wrap-sm icon-circle bg-warning">
                                <i class="wz-icon fa fa-info fa-2x"></i>
                                <i class="wz-icon-done fa fa-check fa-2x"></i>
                            </span>
                            </a>
                        </li>
                        <li class="col-xs-3">
                            <a data-toggle="tab" href="#demo-bv-tab3" title="Foto">
                                <span class="icon-wrap icon-wrap-sm icon-circle bg-info">
                                <i class="wz-icon fa fa-upload fa-2x"></i>
                                <i class="wz-icon-done fa fa-check fa-2x"></i>
                            </span>
                            </a>
                        </li>
                        <li class="col-xs-3">
                            <a data-toggle="tab" href="#demo-bv-tab4" title="Finalizar">
                                <span class="icon-wrap icon-wrap-sm icon-circle bg-success">
                                <i class="wz-icon fa fa-certificate fa-2x"></i>
                                <i class="wz-icon-done fa fa-check fa-2x"></i>
                            </span>
                            </a>
                        </li>
                    </ul>
                </div>
            <!--Form-->
                <form name="FormularioRegistroCandidato" id="demo-bv-wz-form" class="form-horizontal" method="post" enctype="multipart/form-data">
               {% csrf_token %}

                <div class="panel-body">
                    {{ form.votante.error_messages }}
                    <div class="tab-content">

                        <!--First tab-->
                        <div id="demo-bv-tab1" class="tab-pane">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Buscar Candidato</label>
                                <div class="col-lg-7">
                                    <!--<input type="text" class="form-control" name="username" placeholder="Username">
                                    <!-- Bootstrap Select with Search Input -->
                                    <!--field autocomplete search candidato -->
                                    <!--===================================================-->
                                    {{ form.votante }}
                                    <!--===================================================-->
                                </div>
                            </div>
                        </div>

                        <!--Second tab-->
                        <div id="demo-bv-tab2" class="tab-pane">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Escoger el tipo de candidato</label>
                            <div class="col-lg-7">
                                    <!-- Bootstrap Select with Search Input -->
                                    <!--field autocomplete search type candidato -->
                                    <!--===================================================-->
                                    {{ form.tipo_candidato }}
                                    <!--===================================================-->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Escoger la corporación a la que se postula</label>
                                <div class="col-lg-7">
                                    <!-- Bootstrap Select with Search Input -->
                                    <!--field autocomplete search corporation candidato -->
                                    <!--===================================================-->
                                    {{ form.corporacion }}
                                    <!--===================================================-->
                                </div>
                            </div>
                        </div>

                        <!--Third tab-->
                        <div id="demo-bv-tab3" class="tab-pane fade">
                            <div clas="form-group">
                                <label class="col-lg-3 control-label">Fotografía del candidato:</label>
                                <div class="col-lg-7">
                                    {{ form.foto }}
                                </div>
                            </div>
                        </div>

                        <!--Fourth tab-->
                        <div id="demo-bv-tab4" class="tab-pane  mar-btm text-center">
                            <h4>Desea crear el candidato?</h4>
                            <p class="text-muted"></p>
                        </div>
                    </div>
                </div>

                    <!--Footer button-->
                    <div class="panel-footer text-right">
                        <div class="box-inline">
                            <button type="button" class="previous btn btn-primary">Anterior paso</button>
                            <button type="button" class="next btn btn-primary">Siguiente paso</button>
                            <button name="btnload" type="submit" class="finish btn btn-warning" disabled>Crear y finalizar</button>
                        </div>
                    </div>
                </form>
            </div>
    </div>
</div>
     <script>
    window.onload = function() {
    llamarMensajes( '{{ llamarMensaje }}' , '{{ mensaje }}');
    };
</script>
{% endblock %}